.menuSection {
  background-image: url("../../../assets/images/banner/menu-bg.jpg");
  background-color: rgba(var(--rgb-woodprecker-green), 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menuDishesWrapper {
  margin-top: calc(7.2rem - 1.5rem);
}

.menuDishCard {
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 rgba(var(--rgb-woodprecker-green), 0.2);
  padding: 12px;
  transition: var(--transition-smooth);
  border: 1px solid transparent;
}

.menuDishCard:hover {
  border-color: var(--lemon-curry);
  box-shadow: 0 1px 6px 0 rgba(var(--rgb-woodprecker-green), 0.4);
}

.menuDishContentCard {
  margin-top: 20px;
}

.dishContentInnerWrap {
  margin-bottom: 12px;
}

.dishName {
  margin-bottom: 10px;
}

.starIcon {
  width: 20px;
  height: 20px;
  color: var(--tangerine-yellow);
  margin-right: 5px;
}

.menuDishImageCard {
  --bs-aspect-ratio: 81%;
}

/* resposnive css start */
@media (max-width: 575px) {
  .menuDishCard {
    flex-direction: column-reverse;
  }

  .menuDishImageCard {
    max-width: 100%;
    max-height: 238px;
  }
}

/* resposnive css end */